@{
}
<div id="row">
    <div class="col-md-8 text-center">
        <div id="gmap"></div>
    </div>
    <div class="col-md-4 text-center">
        <div id="row">
            <div class="panel panel-default">
                <div class="panel-heading">Distance and Time Travel</div>
                <div id="rightPanelText" class="panel-body">No Data available</div>
            </div>
        </div>
        <div id="row">
            <div class="panel panel-default">
                <div class="panel-heading">Directions List</div>
                <div id="rightPanel" class="panel-body">No Data Available</div>
            </div>
        </div>
    </div>
</div>
